body {
  background: #000;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
}
canvas {
  border: solid #222 1px;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  vertical-align: middle;
}
#image {
  display: none;
}
#drawing {
}
